<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Botones
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-material-button></app-material-button>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Campos de Texto
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-material-input></app-material-input>
</mat-expansion-panel>

<mat-expansion-panel expanded = "true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Listas
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-material-list></app-material-list>
</mat-expansion-panel>

