<mat-toolbar color = "primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <samp>
    Angular toolbar
  </samp>
</mat-toolbar>
<nav>
  <a><button mat-button color = "primary" [routerLink]="'/home'">Picture of the day</button></a>
  <a><button mat-button color = "primary" [routerLink]="'/material-demo'">Material demo</button></a>
  <a><button mat-button color = "primary" [routerLink]="'/Rovers'">Rovers in Mars</button></a>
</nav>
<router-outlet></router-outlet>
