<mat-list>
  <mat-list-item *ngFor="let estudiante of listaEstudiantes">

    <img *ngIf="estudiante.fotoURL" mat-line mat-list-avatar [src]="estudiante.fotoURL">
    <img *ngIf="!estudiante.fotoURL" mat-line mat-list-avatar [src]="DEFAULT_PICTURE">
    <span mat-line onmouseover="mouseOver($event)">{{estudiante.nombre}}</span>
    <span mat-line>{{estudiante.ciudad}}</span>
  </mat-list-item>
</mat-list>
