
<div class="card-container" *ngIf="apod">
  <mat-card class="card-content">
    <h3 class='title-card'>Astronomy Picture of the Day</h3>
    <mat-card-header>
      <img mat-card-avatar src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png">
      <mat-card-title>{{apod.title}}</mat-card-title>
      <mat-card-subtitle>{{apod.date | date:'fullDate'}}</mat-card-subtitle>
    </mat-card-header>

    <!-- <img mat-card-image [src] = "apod.url"> -->

    <mat-card-content>
      <img class="card-image" mat-card-image src={{apod.hdurl}}>
      <p>{{apod.explanation}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button >Like</button>
      <button mat-button >Share</button>
      <button mat-button >Love</button>
    </mat-card-actions>
  </mat-card>
</div>



<div *ngIf="error">
  <mat-card>{{error}}</mat-card>
</div>